@page
@model AccessDeniedModel
@{
    Layout = "_LayoutWithoutFooter";
}

<link rel="stylesheet" href="/css/pizzaV4.css">
<header>
    <h1 class="text-danger">Access denied</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
