@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "_LayoutWithoutFooter";
}
<style>
    body{
        background-color: #003223;
    }
</style>
<h1 class="text-white">Confirm email</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
