@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_LayoutWithoutFooter";
}

<link rel="stylesheet" href="/css/pizzaV4.css">
<style>
    body{
        color:white;
        
    }
    .container{
        text-align:center;
    }
</style>
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>

</div>
