@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_LayoutWithoutFooter";
}
<link rel="stylesheet" href="/css/pizzaV4.css">
<style>
    body {
        color: white;
    }

    .container {
        text-align: center;
    }
</style>

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>
        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>
