/* Reset styles */
*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
    letter-spacing: 0.04em;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    background-image: url(/images/bgsvg2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Text Container */
.text-container {
    height: 28vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .text-container h1 {
        margin: 0;
        font-size: 100px;
        color: rgba(225,225,225, .01);
        background-image: url("/images/Flag.jpg");
        background-repeat: repeat;
        -webkit-background-clip: text;
        animation: animate 15s ease-in-out infinite;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
    }

/* Card */
.card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
    background-color: #003223 !important;
    margin: 10px;
    border-color: #003223 !important;
}

    .card .circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
    }

        .card .circle::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #d83133;
            clip-path: circle(120px at center);
            transition: 0.5s;
        }

    .card:hover .circle::before {
        background: yellow;
        clip-path: circle(400px);
    }

    .card img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
        pointer-events: none;
        transition: 0.5s;
    }

    .card:hover img {
        left: 72%;
        height: 310px;
    }

    .card .content {
        position: relative;
        width: 50%;
        left: 20%;
        padding: 20px 20px 40px 40px;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
        line-height: 1.2;
    }

    .card:hover .content {
        left: 0;
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    .card .content h2 {
        color: black;
        text-transform: uppercase;
        font-size: 2em;
        line-height: 1em;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .card .content p {
        color: black;
        margin-bottom: 30px;
    }

    .card .content button {
        position: relative;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        background: black !important;
        color: white !important;
        display: inline-block;
        border: none;
        cursor: pointer;
        font-size: 16px;
        bottom: 0px;
        left: 0px;
        transition: 0.5s;

    }

        .card .content button:hover {
            background: yellow;
            color: black;
        }

@keyframes animate {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* Media Queries */
@media (max-width: 1024px) {
    .card {
        width: 500px;
        height: 300px;
    }
}



@media (max-width: 600px) {
    .text-container {
        height: 20vh;
    }

        .text-container h1 {
            font-size: 60px;
        }
    .card {
        width: 310px;
        height: auto;
        overflow: hidden;
    }
        .card .content {
            position: relative;
            width:60%; /* Adjust the width as per your design */
            margin: 0 auto; /* Center align the content */
            padding: 20px;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            line-height: 1.2;
        }

        .card img {
            max-height: 100%;
            width: auto;
        }
        .card:hover img {
            left: 72%;
            height: 140px;
        }
        .card .content button {
            font-size: 13px;
            padding: 10px 9px;
        }
        .card .content h2 {
            font-size: 1.2em;
        }
        .card .content p {
            font-size: 0.8em;
        }
 }


/* CSS */
.button-38 {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-38:hover {
        background-color: yellow;
        color: #111827;
    }

.button-38:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-38:focus-visible {
    box-shadow: none;
}


